.appbar {
  padding-bottom: 56px;
  h1 {
    font-size: 32px;
  }
  a {
    margin-left: 16px;
    margin-right: 16px;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: #4211f5;
    }
  }

  .login-button {
    margin-right: 10px;
  }

  .toolbar {
    justify-content: space-between;
  }
}