.navbar {
  padding-bottom: 56px;
  h1 {
    font-size: 32px;
    margin-left: 3%;
    margin-right: 16px;
  }
  a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-weight: 500;
    &:hover {
      color: #4211f5;
    }
  }
  .login-button {
    margin-right: 1%;
  }
}