.navbar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  margin: 0 auto;
  background-color: #a6c4f3;
  position: sticky;
  top: 0;
  h1 {
    font-size: 30px;
  }
  a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-weight: 500;
    &:hover {
      color: #4211f5;
    }
  }
}

.navbar-full {
  display: flex;
  align-items: center;

  h1 {
    margin-left: 5%;
  }
  .links {
    margin-left: auto;
  }
  button {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.navbar-mobile {
  button {
    margin-right: 10px;
  }
}