@import "~@fontsource/quicksand/400.css";
@import "~@fontsource/quicksand/500.css";
@import "~@fontsource/quicksand/700.css";

.App {
  text-align: center;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

body {
  background-color: #c4daff;
}

button {
  cursor: pointer;
}

.main-content {
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  min-height: 700px;
}

.content {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.button-primary {
  background: #330eda;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
}




